.App {
  text-align: center;
  height: 100vh;
  color: #ffffff;
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  text-shadow: 0 0 15px rgb(0, 0, 0);
  padding-bottom: 40px;
  background-color: #30336b;
}
.app__box{
  text-align: center;
  display: flex;
  height: 90vh;
  border: 2px solid black;
  box-shadow: #2f3542;
  border-radius: 30px;
  overflow: hidden;
}
.first{
  width: 30vw;
  background-color: #40739e;
  padding-top: 40vh;
  
}
.second
{
  flex: 1;
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5ZfavDGRDmWtnTok6Pdg4hs1JDTV_gMk6Iw&usqp=CAU');
  /* background-color: #ffffff; */
  padding-right: 40px;
  overflow: auto;
}
.message > li{
  list-style-type: none;
  border-radius: 20px;
  margin-bottom: 1vh;
  font-weight: 100px;
  text-shadow: 0 0 10px #fff;
  border: 2px solid #747d8c;
  background-color: #130f40;
  color: #ffffff;
  padding: 10px;
}
